<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title>Document</title>


<style>

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form {
    border: 3px solid #f1f1f1;
    background-color: olive;
}

/* Set a style for all buttons */
button {
    background-color:#25383C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}
}
</style>
<body>
<form >
  <div class="row">
    <div class="col-sm-1">
    <Button id="back" class="btn btn-sm"> Back </Button>
    </div>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <label><b>Email</b></label>
        <input type="text" id="email" placeholder="Enter Email" name="email" required>

        <label><b>Username</b></label>
        <input type="text" id="username" placeholder="Enter Username" name="username" required>

        <label><b>Password</b></label>
        <input type="password"id="password" placeholder="Enter Password" name="password" required>

        <label><b>Repeat Password</b></label>
        <input type="password" id="repass" placeholder="Repeat Password" name="psw-repeat" required>

      <div>

      <button type="button" id="register"class="btn" >Sign Up</button>
      <!--<button type="button" class="btn">Cancel</button>-->
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
</form>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      $("#back").click(function(){
        $.ajax({
          type: 'GET',
          url: '/login',
          success: function(data){
            window.location.pathname="/login"
          }
        });
        return false;
      });

    $("#register").click(function(){

      var username = $('#username').val();
      var password = $('#password').val();
      var email    = $("#email").val();
      var repass   = $("#repass").val();


      var obj = {username:username,password:password,email:email};
    //  alert("1");
    if(username=="" || password=="" )
    {
        $("#myModalRegister").modal('show');
        $('#registerSetText').text("Specify all fields");
        $('#registerTitle').text("Error");
    }
    else if(password!=repass)
    {
      alert("Oops!!The two passwords don't match.");
    }
    else
    {
      $.ajax({
        type: 'POST',
        url: '/register_user_database',
        data: obj,
        success: function(data){
          //do something with the data via front-end framework
          //location.reload();

          console.log("saved ");

           window.location.pathname="/login";
        }
      });
    }
      return false;
    });

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    });
    </script>













</body>

</html>
